<footer class="blog-footer">
      <p>
        <%= copyright_generator %>
      </p>
      <p>
        <%= link_to "View All Blogs", blogs_path %> /
        <a href="#">Back to top</a>
      </p>
</footer>