<h1>About Me</h1>

<hr>

<div class="row"> 
  <div class="col-md-4">
    <%= image_tag "1481839291359s.jpg", width: 300, alt: "Profile Image" %>
  </div>
  
  <div class="col-md-8">
  <p>Hi! My name is Martina Martinez yes, before you ask, that is my birth given name. I am just starting to code so everything is new and exciting to me.I am a seventeen year old wannabe Software Developer, I guess you could say that in a couple months or so I can call myself a real developer but for now I'm a noobie at this.</p>

  <P>I like food, video games and learning new things aside from coding all day. I can't wait for you to learn more about me and the things I can do throughout this portfolio. </p>
    </div>
</div>