<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Whenever I thought about Software development I thought about video games but I soon learned that there is more to development than video games. Follow me through this journey of the new path I'm exploring. </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>